.title {
  text-align: center;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 70px;
  margin-top: 10px;
  margin-bottom: 0;
}

.description {
  text-align: center;
  font-size: 32px;
  font-family: Montserrat;
}

a {
  color: black;
}