.apply,
.save {
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;

}

.apply {
  color: white;
  background-color: rgb(10, 102, 194);
  border: none;
  width: 196px;
  height: 42px;
}

.save {
  color: rgb(10, 102, 194);
  background-color: white;
  border: 1px solid rgb(10, 102, 194);
  margin-left: 8px;
  width: 84px;
  height: 42px;
}