button {
  color: white;
  background-color: green;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  transition: padding 0.30s;
  box-shadow: 2px 2px 2px lightgray;
  transition: box-shadow 0.15s,
    margin 0.15s;
}

button:active {
  margin: 2px;
  box-shadow: none;
}